html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Back Top */

#back-top {
    display: none;
    width: 80px;
    height: 80px;
    position: fixed;
    font-size: 30px;
    background-color: azure;
    color: teal;
    font-weight: normal;
    bottom: 10%;
    right: 90%;
    border: solid;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 20;
}

#back-top:hover {
    cursor: pointer;
    background-color: rgb(204, 60, 60);
    color: rgb(240, 248, 248);

}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 1;
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

/*Main Content*/

.box-images {
    margin: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 4%;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.book-enclosure {
    background-color: #242526;
    padding: 20px;
    position: relative;
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.book-case:hover {
    transform: scale(1.04);
    transition: ease-in;
    background-color: #183951;
}

.book-case {
    padding: 20px;
    background-color: #b31630;
    border-radius: 20px ;
}


a.a img {
    width: 100%;
    height: auto;
}

.numero {
    grid-area: numero;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    background-color:#183951;
    text-align: center;
}

.num a {
    color: #d6d6d6;
    font-size: 24px;
    padding: 10px 25px 10px 25px;
    background-color:#1e1714;
    border-radius: 20%;
}

#local {
    background-color: #b31630;
    border-radius: 20%;
}

.num a:hover{
    background-color:#cd5e70;
}


@media all and (max-width: 1120px){

.book-enclosure {
    width: 30%;
}
}

/* @media all and (max-width: 1040px){

.sidebar {
    position: absolute;
}

.main-content {
    position: relative;
}

} */

@media all and (max-width: 920px){

    .book-enclosure {
        width: 50%;
    }

    #back-top {
        right: 85%;
    }
}

@media all and (max-width: 700px){

    .book-enclosure {
        width: 75%;
    }

    #back-top {
        right: 80%;
    }
}

@media all and (max-width: 480px){

    .book-enclosure {
        width: 80%;
    }

}


