
.contain-er {
    background-color: aliceblue;
    min-height: 600px;
}

.h1 {
    padding: 10px;
}

table {
    padding: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    
}

th, td {
    padding: 10px 30px;
    font-size: 18px;
}

.text-center {
    text-align: center;
}

.tot {
    color: black;
    padding: 20px;
    font-size: 24px;
    border-bottom: 2px red solid;
    border-radius: 10px;
}

.float {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.make-purchase {
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    margin: auto 5px;
    border-radius: 10px;
}

.remove-thy-button {
    background-color: transparent;
    border: 5px red solid;
    padding: 15px 10px;
    color: red;
    border-radius: 10px;
}

input[type=text].imp, input[type=number].imp, textarea.imp, button[type=submit].imp, a.imp   {
    border: none;
    color: aliceblue;
    background-color: rgb(11, 11, 17);
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit].update-it {
    background-color: rgb(147, 204, 255);
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 2px 5px;
    color: rgb(38, 38, 38);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}