@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

table {
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

table.dash {
    width: 90%;
}

table th {
    color: aliceblue;
    padding: 20px;
    font-size: 18px;
    background-color: #b31630;
    font-family: 'Poppins','Courier New', Courier, monospace;
}

.td {
    color: aliceblue;
    padding: 10px;
    font-size: 1.2em;
    background-color: #183951;
    font-family: 'Poppins','Courier New', Courier, monospace;
}

.btn-del {
    background-color: goldenrod;
    color: #183951;
    font-size: 1.2em;
    padding: 0px 20px;
    text-decoration: none;
    border-radius: 20px;
}

.btn-del:hover {
    background-color: #b31630;
    color: aliceblue;
    font-size: 1.2em;
    padding: 0px 20px;
    text-decoration: none;
}

.container-crud {
    margin: auto;
}

.pro {
    background-color: #b31630;
    color: antiquewhite;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 100px;
    border-radius: 20px;
}



.pro a {
    text-decoration: none;
    color: goldenrod;
    background-color:black;
    padding: 5px;
    border-radius: 10px;
}

.a-hole {
    margin-top: 20px;
}

.btn-act {
    text-decoration: none;
    color: antiquewhite;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid goldenrod;
    padding: 10px;
    text-align: center;
}

.bs-desc {
    width: 120vw;
}

td .btn-act:hover {
    color: antiquewhite;
    background-color: #b31630;
    border: 2px solid #183951;
}

.pad-me-up {
    text-align: center;
    padding: 10px;
}


