body.bookie {
    background-image: url(https://i.pinimg.com/564x/27/37/90/273790559ee0b521708e18269086ba48.jpg);
    background-repeat:repeat-x repeat-y;
    background-size: auto auto;
    background-position: center;
}


.book-info {
    padding: 20px;
    margin: auto;
    display: flex;

}

.product-title {
    font-size: 45px;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.product-size {
    padding: 10px;
    background-color: goldenrod;
    max-width: 300px;
    max-height: 600px;

}

.product-desc {
    color: aliceblue;
    background-color: #242526;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

.btn-info {
    margin-top: 20px;
    background-color: #b31630;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.cost {
    padding: 10px;
}

.add-to-cart {
    color: aliceblue;
    background-color: #183951;
    font-family: 'Courier New', Courier, monospace;
    border-style: none;
    padding: 20px;
    font-size: 20px;
}

.table-responsive {
    background-color: #b31630;
}