

.search-container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,166,128,1) 49%, rgba(0,212,255,1) 100%);
    
    padding: 10px;
    margin: auto;
    font-size: 24px;
    font-family: 'Poppins','Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.book-search-info {
    background-color: #b31630;
    text-align: center;
    max-width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.searchLink {
    text-decoration: none;
    color: aliceblue;
}

.book-search-info:hover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(56,28,38,1) 50%, rgba(0,0,0,1) 97%);
    transform: scale(1.02);
}

.search-image-size {
    max-width: 300px;
    max-height: 600px;
}

@media all and (max-width: 400px){
    .book-search-info {
        padding: 5px;
        margin: 5px;
    }

    .search-image-size {
        width: 200px;
        height: auto;
    }

}

/**/
#back-top {
    display: none;
    width: 80px;
    height: 80px;
    position: fixed;
    font-size: 30px;
    background-color: azure;
    color: teal;
    font-weight: normal;
    bottom: 10%;
    right: 90%;
    border: solid;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 20;
}

#back-top:hover {
    cursor: pointer;
    background-color: rgb(204, 60, 60);
    color: rgb(240, 248, 248);

}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 1;
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}
