@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --MediumAquamarine: #68D1C5;
    --AeroBlue:#C2F3D3;
    --MagicMint:#B4F0D4;
    --Nyansa:#EBFCD0;
    --Azureish: #DFEAF0;
    --Blizzard:#ADDCF4;
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid black;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif; 
    margin:0; padding:0;
    box-sizing: border-box;
}

html{ 
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    margin-top: 10rem;
    margin-left: 10rem;
    padding:2rem 0;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    color:black;
    font-weight: bold;
}

.sub-heading {
    margin-left: 12rem;
    padding:2rem 0;
    padding-bottom: 1rem;
    font-size: 2.1rem;
    color:black;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid black;
    color:black;
    cursor: pointer;
    background: var(--Blizzard) ;
}

.btn:hover{
    background: #A7C7E7;
    color:black;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background:#D0F6D2;
    box-shadow: var(--box-shadow);
}

.logo{
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right:3px;
    padding-left:20px;
    float: left;
    cursor: pointer;
}

.logo:hover{
    background:#D0F6D2;
}

a {
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    padding: 0;
}

.header a{
    font-size: 15px;
    margin:0 1rem;
    color: black;
}

.header a:hover{
    color: green;
    background-color: var(--AeroBlue);
    font-weight: bold;
}

.header .icon div{
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 8px;
    background:var(--MediumAquamarine);
    color:black;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icon div:hover{
    background: var(--MagicMint);
    color:gray ;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; 
    right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: black;
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:black ;
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--MediumAquamarine);
}

.header .Log-out-form{
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .7rem;
    background: var(--Azureish);
    text-align: center;
}

.header .Log-out-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .Log-out-form h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.header .Log-out-form .box{
    width: 90%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}

.header .Log-out-form .authenticated {
    display: block;
  }

.header .cart-form{
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .7rem;
    background: var(--Azureish);
    text-align: center;
}

.header .cart-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .cart-form h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.header .cart-form .box{
    width: 90%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}

.header .user-form{
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .7rem;
    background: var(--Azureish);
    text-align: center;
}

.header .user-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .user-form h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.header .user-form .box{
    width: 90%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}


.container {
    margin-top: 10rem;
}


.shipOption hr{
    margin: auto;
    width: 85%;
}

.ShippingOpt .Options{
    display: flex;
    justify-content: center;
    position: relative;
}

.ShippingOpt .Options div {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #D0F6D2 ;
    transition: .2s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    margin-left: 2rem;
    border-radius: 25px;
}

.ShippingOpt .Options div:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.ShippingOpt .Options p {
    font-size:x-large;
    font-weight: bolder;
    padding: 0 3rem;
}

.ShippingOpt .Options .DM p{
    padding: 0 8rem;
}

.ShippingOpt .PUInfo {
    display: none;
    justify-content: center;
}

.ShippingOpt .PUInfo div {
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #D0F6D2 ;
    transition: .2s linear;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    margin-left: 2rem;
    border-radius: 10px;

}

.ShippingOpt .PUInfo p {
    font-size:large;
    font-weight: bolder;
    padding: 0 3rem;
    text-align: center;
}

.ShippingOpt .PUInfo p input{
    border: none;
    border-radius: 10px;
    text-align: center;
}

.ShippingOpt .DInfo {
    display: none;
    justify-content: center;

}

.ShippingOpt .DInfo div {
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #D0F6D2 ;
    transition: .2s linear;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    margin-left: 2rem;
    border-radius: 10px;

}

.ShippingOpt .DInfo .DAddress p input{
    width: 25rem;
}

.ShippingOpt .DInfo p {
    font-size:large;
    font-weight: bolder;
    padding: 0 3rem;
    text-align: center;
}

.ShippingOpt .DInfo p input{
    border: none;
    border-radius: 10px;
    text-align: center;
}


.shipOption .storeName {
    font-weight: bolder;
    margin-left: 14rem;
    font-size: 2.1rem;
}

.container{
    margin: 0;
}

.checkout-form table{
    margin: auto;
    text-align: center;
    width: 100%;
    
}

.checkout-form table thead th{
    padding: .5rem;
    font-size: 2rem;
    background-color: #d3d3d3;
    font-family: Georgia;
}

.checkout-form table tr td{
    border-bottom: #000;
    padding: .5rem;
    font-size: 1.5rem;
    color: #000;
}

.checkout-form table tr:nth-child(even){
    background-color: #E0E0E0;
}

.msgBox{
    text-align: center;
}

.msgBox input {
    background-color: #d3d3d3;
    border: none;
    border-radius: 25px;
    padding: .5rem 2rem;
}

.checkout-form hr{
    margin: 1rem 0;
}


.POLine {
    font-weight: bolder;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2.1rem;
}

.PO .PaymentOpts{
    display: flex;
    justify-content: center;
    position: relative;
}

.PO .PaymentOpts div {
    display: flex;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 20px;
    background-color: #D0F6D2 ;
    transition: .2s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 2rem 4rem;
    outline-offset: -1rem;
    outline: var(--outline);
    margin-left: 2rem;
    border-radius: 20px;
}

.PO .PaymentOpts div:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.PO .PaymentOpts div p{
    font-size: medium;

}

.PO .PaymentOpts .COD:active {
    outline-offset: 0rem;
}


.totalLine{
    display: flex;
    justify-content: space-between;
    font-size: medium;
}

.totalLine .tl{
    margin-left: 10px;
}

.totalLine .t_l{
    margin-right: 10px;
}

.totalLine .t_l p span{
    font-size: large;
    color: #E20606;
}


.coupon {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.coupon select{
    border-radius: 25px;
    text-align: center;
}

.coupon button{
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #D0F6D2 ;
    transition: .2s linear;
    padding: .2rem 3rem;
    outline-offset: -.3rem;
    outline: var(--outline);
    margin-left: 2rem;
    border: none;
    border-radius: 10px;
}

.coupon button:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.PDLine {
    font-weight: bolder;
    text-align: center;
    margin: 2rem 0;
    font-size: 2.1rem;
}

.totalCon{
    width: 40%;
    margin: auto;
}

.total-sec{
    display: flex;
    justify-content: space-between;
    font-size: medium;
}

.total-sec p {
    font-size: medium;

}

.OrdLine {
    font-weight: bolder;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2.1rem;
}

.PlaceOrder .PlaceOrd{
    display: flex;
    justify-content: center;
    position: relative;
}

.PlaceOrder .PlaceOrd button{
    border: none;
}

.PlaceOrder .PlaceOrd p {
    display: flex;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 20px;
    background-color: #D0F6D2 ;
    transition: .2s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 2rem 10rem;
    outline-offset: -1rem;
    outline: var(--outline);
    margin-left: 2rem;
    border-radius: 20px;
}


.PlaceOrder .PlaceOrd p:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.footer{
    background: #D0F6D2;
}

.footer .b-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .b-container .box h3{
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
}

.footer .b-container .box h3 i{
    color: black;
}

.footer .b-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
}

.footer .b-container .box .links i{
    color: black;
    padding-right: .5rem;
}

.footer .b-container .box .links:hover i{
    padding-right: 2rem;
}

.footer .b-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: black;
    padding:1rem 0;
}

.footer .b-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:black;
    margin-right: .2rem;
    background: var(--MediumAquamarine);
    text-align: center;
}

.footer .b-container .box .share a:hover{
    background: var(--MagicMint);
    color: gray;
}

.footer .b-container .box .payment{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}
  
.footer .credit{
    text-align: right;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:black;
    border-top: var(--border);
}

.footer .credit span{
    color: green;
    text-decoration: underline;
}

.footer .credit span:hover{
    color: green;
    background-color: var(--AeroBlue);
    font-weight: bold;
}












/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .b-container .box .payment{
        margin: 2rem auto;
    }

}


