@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --MediumAquamarine: #68D1C5;
    --AeroBlue:#C2F3D3; 
    --MagicMint:#B4F0D4;
    --Nyansa:#EBFCD0;
    --Azureish: #DFEAF0;
    --Blizzard:#ADDCF4; 
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid black;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif; 
    margin:0; padding:0;
}

html{ 
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

/* .container{
    max-width: 1200px;
    margin:0 auto;
    gap: 1.5rem;
 } */

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:black;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid black;
    color:black;
    cursor: pointer;
    background: var(--Blizzard) ;
}

.btn:hover{
    background: #A7C7E7;
    color:black;
}

/* HEADER */
.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background:#D0F6D2;
    box-shadow: var(--box-shadow);
}

.logo{
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right:3px;
    padding-left:20px;
    float: left;
    cursor: pointer;
}

.logo:hover{
    background:#D0F6D2;
}

a {
    text-decoration: none;
    color: #000;
    border-radius: 0px;
    padding: 0;
}

.header a{
    font-size: 15px;
    margin:0 1rem;
    color: black;
}

.header a:hover{
    color: green;
    background-color: var(--AeroBlue);
    font-weight: bold;
}

.header .icon div{
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 8px;
    background:var(--MediumAquamarine);
    color:black;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.header .icon div:hover{
    background: var(--MagicMint);
    color:gray ;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; 
    right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: black;
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:black ;
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--MediumAquamarine);
}

.header .Log-out-form{
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .7rem;
    background: var(--Azureish);
    text-align: center;
}

.header .Log-out-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .Log-out-form h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.header .Log-out-form .box{
    width: 90%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}

.header .Log-out-form .authenticated {
    display: block;
  }

.header .cart-form{
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .7rem;
    background: var(--Azureish);
    text-align: center;
}

.header .cart-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .cart-form h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.header .cart-form .box{
    width: 90%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}

.header .user-form{
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .7rem;
    background: var(--Azureish);
    text-align: center;
}

.header .user-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .user-form h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.header .user-form .box{
    width: 90%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}


  /* HEADER END */

  /* HOME */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("IMAGES/Dr.Banner.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 5rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:white;
    font-weight: bolder;
    font-size: 3rem;
}

.home .content p{
    color:white;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}

/* HOME END */

/* FEATURES */

.features .b-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.3rem;
}

.features .b-container .box{
    /* padding:3rem 2rem;
    background: #D0F6D2;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow); */
    background: #D0F6D2;
    border-radius: .8rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow:var(--box-shadow);
    transition: .2s linear;
}

.features .b-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .b-container .box img{
    margin:1rem 0;
    height: 15rem;
}

.features .b-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:black;
}

.features .b-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:black;
    padding:1rem 0;
}

/* END OF FEATURES */

 /* CATEGORIES  */

.categories .b-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.categories .b-container .box{
    /* padding:3rem 2rem;
    background: #D0F6D2;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow); */
    background: #D0F6D2;
    border-radius: .8rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow:var(--box-shadow);
    transition: .2s linear;
}

.categories .b-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.categories .b-container .box img{
    margin:1rem 0;
    height: 15rem;
}

.categories .b-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:black;
}

/* END Of CATEGORIES  */

/* RI */

.products .b-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
   gap: 1.5rem;
}

.products .b-container .box{
    background: #D0F6D2;
    border-radius: .8rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow:var(--box-shadow);
    transition: .2s linear;
    gap: 2rem;
}

.products .b-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.products .b-container .box img{
    height: 20rem;
}

.products .b-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:black;
}

.products .b-container .box .price{
    font-size: 2rem;
    color: black;
    padding:.5rem 0;
}

/* RI END */

/* baked goods */

.bake h1 {
    font-size: 5rem;
    line-height: 1.8;
    color:black;
    margin-top: 6.5rem;
}

.bake .b-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
   gap: 1.5rem;
}

.bake .b-container .box{
    background: #D0F6D2;
    border-radius: .8rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow:var(--box-shadow);
    transition: .2s linear;
    gap: 2rem;
}

.bake .b-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.bake .b-container .box img{
    height: 20rem;
}

.bake .b-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:black;
}

.bake .b-container .box .price{
    font-size: 2rem;
    color: black;
    padding:.5rem 0;
}


/* FOOTER */
.footer{
    background: #D0F6D2;
}

.footer .b-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .b-container .box h3{
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
}

.footer .b-container .box h3 i{
    color: black;
}

.footer .b-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
}

.footer .b-container .box .links i{
    color: black;
    padding-right: .5rem;
}

.footer .b-container .box .links:hover i{
    padding-right: 2rem;
}

.footer .b-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: black;
    padding:1rem 0;
}

.footer .b-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:black;
    margin-right: .2rem;
    background: var(--MediumAquamarine);
    text-align: center;
}

.footer .b-container .box .share a:hover{
    background: var(--MagicMint);
    color: gray;
}

.footer .b-container .box .payment{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}
  
.footer .credit{
    text-align: right;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:black;
    border-top: var(--border);
}

.footer .credit span{
    color: green;
    text-decoration: underline;
}

.footer .credit span:hover{
    color: green;
    background-color: var(--AeroBlue);
    font-weight: bold;
}












/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .b-container .box .payment{
        margin: 2rem auto;
    }

}