*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none; 
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(IMAGES/banner.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.form-container img{
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 5px;
}

.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option{
    background: #fff;   
}

.form-container form .form-btn{
    background: linear-gradient(to right, #68D1C5, #C2F3D3);
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background: black;
    color: #fff;
    transition: .2s;
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a{
    color: #117A65;
}

.form-container form p a:hover{
    color: #45B39D;
}

.form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}